.v-application .warning {
    background-color: #818181 !important;
    border-color: #ffffff00 !important;
}

.v-application .primary {
    background-color: #d0d0d0 !important;
    border-color: #ffffff00 !important;
}

.v-btn > .v-btn__content .v-icon {
  color: #ffffff;
}

.emergency-button {
  color: red !important
}